<h1>Create a Track:</h1>
<h2>for <%= @current_album.title %></h2>

<%= render 'shared/error_form' %>

<form id="track-form" action="<%= tracks_url %>" method="post">
  <%= auth_token %>
  <label for="title">Title: </label>
  <input id="title" type="text" name="track[title]" value=""><br>
  
  <label for="album">Album Name: </label>
  <select id="album" name="track[album_id]">
    <% Album.all.each do |album| %>
      <option value="<%= album.id %>" <%= 'selected="selected"' if @current_album.id == album.id %>"> <%= album.title %></option>
    <% end %>
  </select>
  <br>
  
  <label for="ord">Ord: </label>
  <input id="ord" type="text" name="track[ord]" value=""><br>
  
  <div class="">
    <input type="radio" name="track[regular]" value="true" checked>Regular
    <input type="radio" name="track[regular]" value="false">Bonus<br>
  </div>
  
  <label for="lyric">Lyric: </label><br>
  <textarea id="lyric" name="track[lyrics]" form="track-form"></textarea>
  <br>
  
  <input type="submit" name="" value="Create Track">
</form>
